
<div class="alert-container" data-alert>
    {% for key, message in app.flashes %}
        {% include 'shared/partial/alert/_alert_content.html.twig' with {
            message: message[0]
        } %}
    {% endfor %}
</div>
