
.pagination {
  margin-top: 1em;
  font-size: 1.1em;
  display: inline-block;

  .current {
    color: $main-color;
    border: 1px solid darken($main-background-color, 15%);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $orange;
    box-shadow: lighten($orange, 20%) 0 0 0.2em;
    font-weight: 600;
  }

  .page, .first, .last, .previous, .next {
    > a {
      margin-left: 0.1em;
      margin-right: 0.1em;
      color: $main-color;
      border: 1px solid darken($main-background-color, 15%);
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: lighten($main-background-color, 10%);
      font-weight: 600;

      &:hover {
        background-color:  $orange;
        box-shadow: lighten($orange, 20%) 0 0 0.2em;
      }
    }
  }
}

.sortable,
.asc,
.desc {
  text-decoration: none;
  color: $main-color;

  &:hover {
    text-decoration: none;
    color: $orange;
  }

  &:after {
    content: '⬍';
    padding-left: 0.4rem;
    font-weight: 900;
  }

  &.asc {
    &:after {
      padding-left: 0.4rem;
      content: '▴';
      position: relative;
      top: -5px;
    }
  }

  &.desc {
    &:after {
      padding-left: 0.4rem;
      content: '▾';
      position: relative;
      top: 5px;
    }
  }
}
