
<div class="searchbar-result ps-2">
    {% if games|length > 0 %}
        <p>Jeux</p>
        <ul class="list-unstyled">
            {% for game in games %}
                <li>
                    <a class="main-link" href="{{ path('app_game_redirect', {'slug': game.slug}) }}">
                        {{ game.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}
    {% if categories|length > 0 %}
        <p>Catégorie</p>
        <ul class="list-unstyled">
            {% for category in categories %}
                <li>
                    <a class="main-link" href="{{ path('app_game_redirect', {'slug': category.slug}) }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}
    {% if games|length == 0 and categories|length == 0 %}
        <p>Votre recherche ne corespond à aucun élément</p>
    {% endif %}
</div>
