<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{{ asset('/build/images/favicon.png') }}"/>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% block leogout_seo %}
        {% endblock leogout_seo %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front_scripts') }}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('front_styles') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {% include 'front/common/header.html.twig' %}
        {% endblock %}
        {% include 'shared/partial/alert/_alert.html.twig' %}

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block metadata %}
        {% endblock %}

        {% block footer %}
            {% include 'front/common/footer.html.twig' %}
        {% endblock %}
    </body>

</html>
