{% trans_default_domain 'front' %}

{% if recipe.recipeIngredients|length > 0 %}
    <div class="mt-4">
        <h3>{{ 'front.page.recipe.recipe_ingredients'|trans }}</h3>
        <div class="row">
            {% for recipeIngredient in recipe.recipeIngredients %}
                <div class="col-2 mx-auto mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="mx-auto w-50">
                                <img alt="{{ recipeIngredient.ingredient.name }}"
                                     class="img-fluid rounded-circle"
                                     src="{{ recipeIngredient.ingredient.image }}"
                                     title="{{ recipeIngredient.ingredient.name }}"
                                >
                            </div>
                        </div>
                        <div class="col-12 text-center mt-2">
                            {{ recipeIngredient.ingredient.name }} {{ get_ingredient_unit(recipeIngredient) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
