{% trans_default_domain 'front' %}

{% if recipe.directives|length > 0 %}
    <div class="mt-4">
        <h3>{{ 'front.page.recipe.directives'|trans }}</h3>
        <ul class="list-unstyled">
            {% for directive in recipe.directives %}
                <div class="row mt-5">
                    <div class="col-3">
                        <div class="d-flex justify-content-center align-items-center">
                            {% for ingredient in directive.ingredients %}
                                <img alt="{{ ingredient.name }}"
                                     class="w-25 rounded-circle"
                                     title="{{ ingredient.name }}"
                                     src="{{ ingredient.image }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9 ps-3">
                        <div class="d-flex align-items-center">
                            {{ directive.sort }}. {{ directive.label }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}
