
.search-result {
  position: absolute;
  display: block;
  background-color: $main-background-color;
  color: $main-color;
  z-index: 1055;
  border-right: $main-color 1px solid;
  border-left: $main-color 1px solid;
  border-bottom: $main-color 1px solid;
  border-top: none;
  width: 100%;
  top: 101%;

  @include media-breakpoint-up(md) {
    max-width: 100%;
  }

  .card-product-result {
    text-decoration: none;
    color: $main-color;

    &:hover {
      color: $main-color;
    }

    p {
      margin-bottom: 0;
    }
  }

  hr {
    margin: 0;
    width: 97.5%;
  }

}
