
.col-20 {
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 20%;
  }
}

.container-image {

  height: 250px;

  &-higher {
    height: 310px;
  }

  &-logo {
    height: 80px;
    > img {
      width: auto;
    }
  }

  &-flag {
    height: 36px;
    > img {
      width: auto;
    }
  }
}

.img-100 {
  height: 100%;
  width: 100%;
}

.btn-info {
  color: $background-lighter;
  border-color: $background-lighter;
  background-color: $default-background-color-l15;
  &:hover {
    color: $background-lighter;
    border-color: $background-lighter;
    background-color: $default-background-color-l30;
  }
}

.dropdown-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  > a {
    color: $background-lighter;
    &:hover {
      color: $background-lighter;
      background-color: $background-title;
    }
  }
}

